{% extends 'base.html.twig' %}

{% block title %}Liste des tickets{% endblock %}

{% block body %}
    <style>
    </style>

    <div class="container">
        <h1 class="p-3 text-center">Ouvrir un ticket</h1>

        {{ form_start(issueForm) }}

        {{ form_row(issueForm) }}

        <button type="submit" class="btn btn-primary">Enregistrer</button>
        {{ form_end(issueForm) }}
    </div>
{% endblock %}
